body {
  background-color: white;
}

header {
  background-color: darkgray;
  margin-bottom: 20px;
  
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: -1;
  
}
ul {
  list-style-type: none;
  width: 50%;
  float: right;
  margin: auto;
}

li {
  display: inline;
  padding: 0px;
  margin-left: 30px;
  margin-right: 30px;
}

#logo {
  float: left;
  margin: 20px 0px 20px 100px;
  width: 200px;
  height: 70px;
  background-color: black;
  z-index: +1;
}
main {
  width: 100%;
}
section {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}
.section2Boxes {
  display: inline-block;
  width: 300px;
  height: 375px;
}
#section2-box2 {
  margin-left: 30px;
  margin-right: 30px;
}
section:nth-of-type(3) {
  display: flex;
  justify-content: center;
}
.section3Boxes {
  width: 480px;
  height: 400px;
}

#text-feature {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 460px;
}
#text-feature h4 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
}
#button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  
}
button {
  width: 200px;
  height: 40px;
  background-color: black;
  color: white;
}
textarea {
  height: 350px;
}
footer {
  background-color: darkgray;
  margin-bottom: 20px;
  height: 200px;
}